<!DOCTYPE html>
<html>
  <head>
    <title>UrWeb</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="author" content="47">
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
  	<nav id="header"></nav>

  	<div id="content">
  			
  	</div>
	
    <script src="/javascripts/bundle.js"></script>
  </body>
</html>
